@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root{
    --primary-orange:#F09D51;
    /*
    lettter-spacing
    transition: all 0.3s ease-in-out;
    */
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
   font-family: 'Lato', sans-serif;
     overflow-x: hidden;
}

/*******************************/
/*section_1*/
/*******************************/

.section_1{
    background-color: rgba(231,226,221);
    max-height: 10vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content:space-between;
     align-items: center;
    width: 100%;
    
}

.navbar .title{
    font-size: 1.5rem;
    margin:5px;
    padding:5px;
    letter-spacing: 6
}

.navbar span{
    color:var(--primary-orange);
}

.navbar #nav-icon{
     margin-left:100px;
    padding:5px;
}

.navbar #cart-icon{
     margin-right:100px;
    padding:5px;
    position: relative;
}

.navbar #cart-icon i{
    cursor: pointer;
}

.navbar #cart-icon .cart-items{
    position: absolute;
    top:0;
    right:-4px;
    background-color:var(--primary-orange);
    color:#fff;
    border-radius: 30%;
    padding:0 3px;
    
    
}

/*******************************/
/*section_2*/
/*******************************/

.section_2{
    height:80vh;
    width: 100vw;
}

.section_2 .hero-img{
    background-image: url('hero-bcg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;   
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.section_2 .hero-img .content{
    background-color: rgba(255,255,255,0.8);
    height: 230px;
    width: 747px;
    display: flex;
    justify-content: space-around;;
    align-items:center;
    flex-direction: column;
}

.section_2 .hero-img .content .main-heading{
    font-size:2rem;
    text-align: center;
    letter-spacing:2;

}

.section_2 .hero-img .content .shop-btn .btn{
    background-color:var(--primary-orange);
    padding:1rem 3rem;
    letter-spacing: 2;
    font-style: bold; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
   
    
}
.section_2 .hero-img .content .shop-btn .btn:hover{
    background-color: transparent;
    color:var(--primary-orange);
}



/*******************************/
/*section_3*/
/*******************************/


.section_3{
    width:100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.section_3 .products{
    color:#000;
    display: flex;    
    align-items: center;
    letter-spacing:2;
    font-size:2rem;
    word-spacing: 1;
}

/*******************************/
/*section_4*/
/*******************************/
.section_4{
    min-height: 100vh;
    width:100vw;
}

.section_4 .product-section{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
   
}


.section_4 .product-section .product-gallery{
    width:90%;
    height:100%;
/*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    flex-basis: auto;
*/
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
   
 
}



.products{
    height:274px;
    width:259px;
    
    
}

.products .product-img{
    height: 70%;
    width:100%;
    overflow: hidden;
    position: relative;
    
}

.products .product-img .cart-btn{
    position: absolute;
    top:80%;
    right:0;
    background-color: var(--primary-orange);
    padding:5px 15px;
    cursor:pointer;
    border:0;
    letter-spacing:1.5;
    transform:translateX(100%);
    transition: all 0.3s ease-in-out;
}

.products .product-img:hover .cart-btn{
    transform: translateX(0);
}


.products .product-img .cart-btn:hover{
    color:#fff;
}


.products .product-img img{
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
}


.products .product-img:hover img{
    opacity: 0.6;
}

.products .product-details{
    width:100%;
    height: 80%;
    text-align: center;

}

.products .product-details .product-name{
    padding:10px;
    letter-spacing: 1;
    word-spacing: 2;
    
    
}

.products .product-details .product-price{
    color:#f09d51;
    
}


/*******************************/
/*cart-overlay*/
/*******************************/

.section_5{
    background: transparent;
    background-color:rgba(240,157,81,0.5);
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.3s linear;   
    visibility: hidden;
  
    
    
}

.section_5 .cart-container{
    position: fixed;
    top:0;
    right:0;
    background-color: rgba(231,226,221);
    padding:24px;
    width:450px;
    height:100vh;
    overflow: scroll;
    transition: all 0.3s linear;
    transform: translateX(100%);
    z-index:3;
}

.section_5 .cart-container .cart-close-btn i{
    cursor:pointer;
}

.section_5 .cart-container .cart-title{
    text-align: center;
    font-size: 2rem;
}


.section_5 .cart-container .cart-item{
    padding:1rem 0;
    display:flex;
    min-height:75px;
    width:385px;
}

.section_5 .cart-container .cart-item .cart-item-img{
    height:75px;
    width:75px;
    overflow: hidden;
    
}

.cart-item-img img{
    height:100%;
    width: 100%;
}

.section_5 .cart-container .cart-item .cart-item-detail{
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    align-items:flex-start; 
    width: 248px;
}

.cart-item .cart-item-detail h6{
    font-size:14px;
    letter-spacing: 2;
    word-spacing: 2;
    padding-bottom: 5px;
    
}

.cart-item .cart-item-detail span{
    font-size:14px;
    padding-bottom:5px;
   
}

.cart-item .cart-item-detail a{
    text-decoration: none;
    color:#808080;
    display:inline-block;

}


.section_5 .cart-container .cart-item  .cart-item-count{
    display:flex;
    flex-direction: column;
}

.cart-item  .cart-item-count i{
    color:var(--primary-orange);
    cursor:pointer;
}

.cart-item  .cart-item-count span{
    text-align: center;
}


.section_5 .cart-container .cart-total{
    font-size: 1.5rem;
    text-align: center;
}


.section_5 .cart-container .clear-cart-btn{
    text-align: center;
    padding: 10px;
}

.section_5 .cart-container .clear-cart-btn button{
    background-color: var(--primary-orange);
    padding:15px 50px;
    color:rgba(0,0,0,0.5);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  
}

.section_5 .cart-container .clear-cart-btn button:hover{
    background-color: transparent;
    padding:15px 50px;
    color:var(--primary-orange);
    border:1px solid var(--primary-orange);
    
  
}


/*******************************/
/*@media queries*/
/*******************************/


@media screen and (max-width:1222px){       
    
        .section_4 .product-section .product-gallery{

            grid-template-columns: 33.3% 33.3% 33.3%;  
        }

}


@media screen and (max-width:904px){       
    
        .section_4 .product-section .product-gallery{

            grid-template-columns: 50% 50%;  
        }

}


@media screen and (max-width:590px){       
    
        .section_4 .product-section .product-gallery{

            grid-template-columns: 100%;  
        }
    
        .products{
            height:450px;
            width:360px;   
        }

}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .section_5 .cart-container{
        width:100vw;
/*        overflow-x: hidden;*/
        
    }
}